<h2>Chat</h2>
<div>
    <span id="user"></span>  {{#if this.email}}<input type="text" id="chatbox" placeholder="Mensaje" />{{/if}}
</div>
<div id="messagesLogs"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>