body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
}
.ticket {
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
}
